version: "3.8"

services:
  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: rtsp-server
    restart: unless-stopped
    ports:
      - "8554:8554"
    environment:
      MTX_PROTOCOLS: tcp

  video-streamer:
    build: .
    container_name: video-streamer
    depends_on:
      rtsp-server:
        condition: service_started
    restart: unless-stopped
    volumes:
      - ./videos:/videos
      - ./streams.yaml:/app/streams.yaml
